
    <title>Contacto</title>
    <%- include('../partials/links') %>
<head>
    <%- include('../partials/nav') %>
</head>
<body>s
    
    <%- include('../partials/ubicacion') %>
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>   
</body>
</html>