
<head>
    <%- include('../partials/links') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/section') %>
    <%- include('../partials/ubicacion') %>
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>   
</body>
</html>